[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "*"
numpy = "*"
pandas = "*"
python-decouple = "*"
retry = "*"
pdfplumber = "*"
intervaltree = "*"
webdriver-manager = "*"
desert = "*"


[dev-packages]
pre-commit = "*"
flake8 = "*"
mypy = "*"
pytest = "*"
pytest-cov = "*"
black = "==19.10b0"
flake8-mypy = "*"
coverage = "*"
phl-courts-scraper = {editable = true, path = "."}
jupyterlab = "*"
notebook = "*"
ipython = "*"

[requires]
python_version = "3.7"
